* {
    box-sizing: border-box;
    margin: auto;
}

#main-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.divs-container {
    display: flex;
    flex-direction: row;
}

.grid-item {
    background-color: lightblue;
}

.button {
    margin: 10px;
}